body {
  margin: 0;
}

.navigation {
  background-color: #2C7264;
  width: 100%;
  height: 150px;
  margin: 0px;
}

.search-bar {
  width: 95%;
  text-align: center;
  display: inline-block;
  margin: 0px;
}
.search-bar button {
  position: relative;
  float: right;
  width: 5%;
  border: none;
  background-color: white;
  padding-top: -100%;
}

input {
  width: 100%;
  border-radius: 0.5 0 0 0.5;
}

.arrow-left {
  text-align: left;
  width: 10px;
  height: 10px;
  float: left;
  padding: 85px 0 0 10px;
}

.bus-stop {
  text-align: center;
  font-size: 150%;
  font-family: sans-serif, "roboto";
  font-style: italic;
  color: white;
}

.map {
  text-align: center;
  width: 100%;
}

.bus-line {
  float: left;
  display: inline-block;
  padding: 0% 75% 0% 0%;
  width: 75%;
}
.bus-line h2 {
  font-style: italic;
  font-size: 46px;
  font-weight: normal;
  margin-left: 2%;
}

.bus-line h3 {
  font-weight: normal;
  margin-left: 2%;
}
.bus-direction h2{
  display: inline-block;
  padding: 0% 0% 0% 0%;
  width: 100%;
  font-size: 28px;
  font-weight: normal;
  margin-left: 2%;
}


.bus-frequency {
  float: right;
  padding: 0% 0% 0% 75%;
  width: 25%;
  margin-top: -80px;
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  border-bottom: 2px solid #DADADA;
}

.bus-info {
  margin-top: 0px;
  font-family: sans-serif, "roboto";
  color: #8C8C8C;
}

.container {

}
